<%- include partials/header.ejs %>
  <div class="container">
    <div class="row">
        <div class="p20">
            <div class="col-sm-3 col-md-3"></div>
            <div class="col-sm-6 col-md-6">
                <h1>Add a Book</h1>
                <form name="login" action="" method="post">
                    <p>Title</p>
                    <input name="title" id="title" type="text" class="form-control">
                    <p>Category</p>
                    <input name="category" id="category" type="text" class="form-control">
                    <p>Synopsis</p>
                    <textarea name="synopsis" id="synopsis" type="textarea" class="form-control"></textarea>
                    <p>Author</p>
                    <input name="author" id="author" type="text" class="form-control"><br>
                    <input type="submit" class="btn btn-sm btn-primary" value="Login">
                </form>
            </div>
            <div class="col-sm-3 col-md-3"></div>
            <div class="clearfix"></div>
        </div>
    </div>
  </div>
<%- include partials/footer.ejs %>