<%- include partials/header.ejs %>
  <div class="container">
    <div class="row">
        <div class="p20">
            <div class="col-md-9">
                <h1>Add Book Categories</h1>
                <hr />
                <div id="alertWrap"></div>
                <form id="add-category" name="login"  action="" method="post">
                    <p>Category Name</p>
                    <div class="form-group">
                        <input name="title" id="title" type="text" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-sm btn-primary" value="Add Category">
                </form>
            </div>
            <div class="col-md-3">
                <%- include partials/adminMenu.ejs %>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
  </div>
<%- include partials/footer.ejs %>