<%- include partials/header.ejs %>
  <div class="page_title">
    <div class="container">
      <h2>Book Categories</h2>
    </div>
  </div>
  <div class="container">
    <div class="row content">
    <% if(categories.length > 1) { %>
      <% categories.forEach(function (category){ %>
      <div class="col-md-3">
        <div class="books">
          <h3><a href="/category/<%= category._id %>"><%= category.title %></a></h3>
          <div class="clearfix"></div>
        </div>
      </div>
      <% }) %>
    <% } else { %>
      <div class="alert alert-info">No Category Found</div>
    <% } %>
      <div class="clearfix"></div>


    </div>
  </div>
<%- include partials/footer.ejs %>