<%- include partials/header.ejs %>
  <div class="container">
    <div class="row">
        <div class="p20">
            <div class="col-md-9">
                <h1>Manage Books</h1>
                <div id="alertWrap"></div>
                <table class="table table-condensed" cellspacing="0" cellpadding="7" width="100%" border="0">
                    <tbody>
                        <tr>
                            <td><strong>Book Title</strong></td>
                            <td><strong>Author</strong></td>
                            <td><strong>Category</strong></td>
                            <td><strong>Availability</strong></td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>Hencon Nig Ltd / NNLG</td>
                            <td>Yenagoa – Bayelsa</td>
                            <td>Excavator 320BL</td>
                        </tr>
                        <tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <%- include partials/adminMenu.ejs %>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
  </div>
<%- include partials/footer.ejs %>