body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

html,body {
	margin:0;
	padding:0;
	font-family: 'Varela Round', sans-serif;
	font-size: 0.95em;
	color: #808080;
    line-height: 1.2;
    background: #fff;
}
img {
    max-width: 100%;
}

a {
    color: #009EDF;
    text-decoration: none;
}

a:hover {
    color: #dc0000;
    text-decoration: underline;
}
h3 a {
    color: #666;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 { 
    margin: 0 0 5px 0;
	font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
h1 {
  font-size: 1.8em;  
}
h2 {
  font-size: 2em;  
}
h2.big {
  font-size: 1.8em;  
}
h3 {
  font-size: 1.1em;  
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
ol,ul {
	list-style:none;
}
hr.e6 {
    margin-top: 7px;
    margin-bottom: 7px;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #e6e6e6 -moz-use-text-color -moz-use-text-color;
}

.p20 {
    padding: 20px;
}

.headertop, #footer {
    background: #000;
    padding: 0.6em;
    color: #fff;
}

.headertop a {
    padding: 0 10px;
    border-right: 1px solid #fff;
}
.headertop a:last-child {
    padding: 0px 5px;
    border-right: none;
}
.navbar-nav {
    padding: 0.5em;
}
.navbar-nav > li > a, .headertop a, .site_name h1 a {
    color: #fff;
}
.navbar-nav > li > a {
    padding: 10px;
}
.navbar-nav > li > a:hover {
    background: #000;
}

.navWrapper {
    background: #009EDF;
}
.page_title {
    background: #eee;
    padding: 4em 0;
    border-bottom: 1px solid #009EDF;
}
.site_name h1 {
    color: #fff;
    padding: 0.5em 0;
}
.site_name h1 a:hover {
    text-decoration: none;
}

.content {
    padding-top: 2em;
    padding-bottom: 2em;
}

a.books {
    background: #009EDF;
    color: #fff;
    padding: 1em;
    margin: 1em;
    display: block;
}
a.books:hover {
    background: #a01;
    text-decoration: none;
}

#footer {
    text-align: center;
    border-top: 3px solid #009EDF;
}